<h1>Login</h1>

<form id="login-form">
    <input type="text" id="login-username" placeholder="username">
    <input type="password" id="login-password" placeholder="password">
    <button id="login-btn">Login</button>
</form>
<p>Don't have an account? Signup <a href="/signup">here</a></p>

<script src="/js/login.js"></script>