<h1>Signup</h1>

<form id="signup-form">
    <input type="text" id="signup-username" placeholder="username">
    <input type="password" id="signup-password" >
    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>